In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from Piplines import PipLines_

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import (
    StandardScaler,
    MinMaxScaler,
    MaxAbsScaler,
    OneHotEncoder,
    OrdinalEncoder,
    FunctionTransformer,
)

from sklearn.pipeline import Pipeline

from sklearn.linear_model import LinearRegression, Ridge, Lasso

train = pd.read_csv(
    r"/home/ahmed/Ai/Data science and Ml projects/House-Prices-Prediction---Data-Science-Ml-project/final_cleaned_datasets/test.csv",
)

test = pd.read_csv(
    r"/home/ahmed/Ai/Data science and Ml projects/House-Prices-Prediction---Data-Science-Ml-project/final_cleaned_datasets/train.csv"
)
train.drop(columns="Unnamed: 0", inplace=True)
test.drop(columns="Unnamed: 0", inplace=True)

train

,house_area,quality,year_built,year_remodel_add,garage_year_build,number_of_bathrooms,basement_area,has_Fireplaces_or_not,TotRmsAbvGrd,grade_living_area,garage_area,garage_capacite,SalePrice
0,11622,5,1961,1961,1961,1,882,0,5,896,730,1,169277
1,14267,6,1958,1958,1958,1,1329,0,6,1329,312,1,187758
2,13830,5,1997,1998,1997,2,928,1,6,1629,482,2,183583
3,9978,6,1998,1998,1998,2,926,1,7,1604,470,2,179317
4,5005,8,1992,1992,1992,2,1280,0,5,1280,506,2,150730
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1936,4,1970,1970,1977,1,546,0,5,1092,0,0,167081
1455,1894,4,1970,1970,1970,1,546,0,6,1092,286,1,164788
1456,20000,5,1960,1996,1960,1,1224,1,7,1224,576,2,219222
1457,10441,5,1992,1992,1977,1,912,0,6,970,0,0,184924
1458,9627,7,1993,1994,1993,2,996,1,9,2000,650,3,187741

In [4]:
test

,house_area,quality,year_built,year_remodel_add,garage_year_build,number_of_bathrooms,basement_area,has_Fireplaces_or_not,TotRmsAbvGrd,grade_living_area,garage_area,garage_capacite,SalePrice
0,8450,7,2003,2003,2003.0,2,856,0,8,1710,548,2,208500
1,9600,6,1976,1976,1976.0,2,1262,1,6,1262,460,2,181500
2,11250,7,2001,2002,2001.0,2,920,1,6,1786,608,2,223500
3,9550,7,1915,1970,1998.0,1,756,1,7,1717,642,3,140000
4,14260,8,2000,2000,2000.0,2,1145,1,9,2198,836,3,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319,7917,6,1999,2000,1999.0,2,953,1,7,1647,460,2,175000
1320,13175,6,1978,1988,1978.0,2,1542,2,7,2073,500,2,210000
1321,9042,7,1941,2006,1941.0,2,1152,2,9,2340,252,1,266500
1322,9717,5,1950,1996,1950.0,1,1078,0,5,1078,240,1,142125
1323,9937,5,1965,1965,1965.0,1,1256,0,6,1256,276,1,147500

In [5]:
data_set = train.merge(test, how="outer")
data_set

/tmp/ipykernel_182628/3578289122.py:1: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  data_set = train.merge(test, how="outer")

,house_area,quality,year_built,year_remodel_add,garage_year_build,number_of_bathrooms,basement_area,has_Fireplaces_or_not,TotRmsAbvGrd,grade_living_area,garage_area,garage_capacite,SalePrice
0,1300,6,1980,1980,1980.0,1,561,1,5,1229,462,2,124000
1,1470,4,1970,1970,1977.0,1,630,0,3,630,0,0,137402
2,1476,4,1970,1970,1977.0,1,546,0,5,1092,0,0,159270
3,1477,4,1970,1970,1970.0,1,630,0,3,630,286,1,80000
4,1477,6,1970,2007,1977.0,2,546,0,6,1092,0,0,161067
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2778,57200,5,1948,1950,1966.0,1,747,2,7,1687,572,2,160000
2779,70761,7,1975,1975,1975.0,2,1533,2,5,1533,576,2,280000
2780,115149,7,1971,2002,1971.0,2,1643,2,5,1824,739,2,302000
2781,159000,6,1958,2006,1958.0,2,1444,2,7,2144,389,2,277000
2782,164660,5,1965,1965,1965.0,2,1499,2,7,1786,529,2,228950

In [6]:
x_train, x_test, y_train, y_test = train_test_split(
    data_set.drop("SalePrice", axis=1),
    data_set["SalePrice"],
    test_size=0.3,
    random_state=0,
)